.title_lbl {
    -fx-font-family: "Impact", sans-serif;
    -fx-font-size: 60px;
    -fx-text-fill: #2c3e50;
    -fx-padding: 15px;
    -fx-effect: dropshadow(three-pass-box, #808080, 4, 0, 0, 2);
}

.normal_lbl {
    -fx-font-family: "Lucida Console", monospace;
    -fx-font-size: 24px;
    -fx-padding: 10px;
    -fx-text-alignment: center;
}

.comment_lbl {
    -fx-font-family: "Lucida Console", monospace;
    -fx-font-size: 15px;
    -fx-padding: 10px;
    -fx-text-alignment: center;
}

.button {
    -fx-font-family: "Arial", sans-serif;
    -fx-font-size: 20px;
    -fx-background-color: #4682b4;
    -fx-text-fill: #ffffff;
    -fx-padding: 8px 16px;
    -fx-min-width: 200px;
}

.button:hover {
    -fx-background-color: #1e90ff;
    -fx-cursor: hand;
}

.root {
    -fx-background-color: #dcdcdc;
}

.overlay_root{
    -fx-background-color: rgba(0, 0, 0, 0.5);
}


.ui_text_lbl {
    -fx-font-family: "Lucida Console", monospace;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
    -fx-effect: dropshadow(three-pass-box, #2f4f4f, 2, 0, 1, 1);
}

#health_bar, #timer {
    -fx-pref-width: 120px;
    -fx-pref-height: 18px;
}

#health_bar .bar {
    -fx-background-color: #7fff00;
}

#timer .bar {
    -fx-background-color: #0000cd;
}

#timer .track, #health_bar .track {
    -fx-background-color: #a9a9a9;
}


.menu-bar {
    -fx-background-color: #f0f0f0;
}

.menu-bar .label {
    -fx-text-fill: #000000;
}

.menu-item {
    -fx-background-color: #ffffff;
}

.menu-item .label {
    -fx-text-fill: #000000;
}

.menu-item:hover {
    -fx-background-color: #e0e0e0;
}

.key-checkbox {
    -fx-opacity: 1.0; 
    -fx-background-color: transparent; 
}

.key-checkbox .box, .key-checkbox:disabled .box {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 1px;
}

.key-checkbox:selected .mark, .key-checkbox:disabled:selected .mark {
    -fx-background-color: #00cc00;
}